body {
  background-color: lightgrey;
}
h1 {
  color: navyblue;
  text-align: center;
}
h2 {
  color: navyblue;
  text-align: center;
}
h3 {
  color: navyblue;
  text-align: center;
}
h4 {
  color: navyblue;
  text-align: center;
}
h5 {
  color: navyblue;
  text-align: center;
}
