body {
  background-color: lightgrey;
}
.title {
  color:teal;
}
#EducationalExperience {
  border: 1px solid black;
     padding: 10px;
     width: 775px;
     height: 505px;
     text-align: justify;
     float: right;            
}
#AboutMe {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 505px;
     text-align: justify;
     float: right;
 }
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#WorkSamples {
  border: 1px solid black;
     padding: 10px;
     width: 457px;
     height: 400px;
     text-align: justify;
     float: right;
} 
#TopAccomplishments {
    border: 1px solid black;
       padding: 10px;
       width: 457px;
       height: 400px;
       text-align: justify;
       float: right;
}
#OtherProfiles {
  border: 1px solid black;
     padding: 10px;
     width: 479px;
     height: 400px;
     text-align: justify;
     float: right;
}
